*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/
.logo-codo {
  width: 9rem;
}

/*HOME*/
.header {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(./imagenes/ba1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}
/* .contenido-home {
  width: 40%;
} */

/*CARDS*/
.card {
  margin: 0 2em;
}
/*SECCIONES*/
.texto-subrayado {
  border-bottom: 1px dotted
}

/*FOOTER*/
.footer {

  background: rgb(1,67,92);
  background: linear-gradient(90deg, rgba(1,67,92,1) 0%, rgba(1,67,92,1) 35%, rgba(3,106,128,1) 100%);
}
