*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/
.logo-codo {
  width: 9rem;
}

/*HOME*/
.background-image {
  background-image: url("./imagenes/hawaii.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.overlay {
  background: #00000080;
  height: 100%;


}
.info-home {
    margin-left: 40vw;
   
}
.content {
    margin-top: 30vh;
}
/*CARDS*/
.card {
  margin: 0 2em;
}
/*SECCIONES*/
.texto-subrayado {
  border-bottom: 1px dotted
}

/*FOOTER*/
.footer {

  background: rgb(1,67,92);
  background: linear-gradient(90deg, rgba(1,67,92,1) 0%, rgba(1,67,92,1) 35%, rgba(3,106,128,1) 100%);
}